body{
  overflow: hidden;
}
#root{
  display: grid;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  grid-template-areas: 
  "navbar"
  "main-content"
  "footer";
  /* overflow: hidden; */
  overflow: hidden;
  height: 100vh;
  
  /* width: 100vw; */
  /* width: 100vw; */
}

#nav{
  grid-area: navbar;
  text-align: right;
  background-color:  #2874f0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: 700;
  color: white;
  padding-top: 25px;
  border-radius: 5px;
}

#nav > a {
  padding: 10px;
  color: white;
  /* background-color: #ffb300; */
  border-radius: 5px;
  text-decoration: none;
  
}

#nav img{
  float: left;
  margin-left: 30px;
  max-width: 100%;
  width: 50px;
  height: 50px;
  margin-bottom:15px;
}

#main-content{
  grid-area: main-content;
  grid-gap:5px;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-areas: 'sidebar products';
  overflow: hidden;
  
}
#cart-content{
  grid-area:main-content;
  grid-row:2/3; 
  overflow-y: scroll; 
}


#login{
  grid-area:main-content;
  grid-row:2/3;
  margin-left: 40%;
  margin-top:10%;

}

#footer{
  grid-area: footer;
  background-color:#2874f0;
  grid-row: 3/4;
  border-radius: 5px;
}



